*{
margin: 0;
box-sizing: border-box;
}
body{
font-family: Arial, Helvetica, sans-serif;

}

.nav {
    background-color: blue;
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    align-items: center;
    padding: 20px
}
.nav_title {

}
.nav_list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
   

}
.nav_item {
}
.nav_link {
    text-decoration: none;
    color: aliceblue;
}